<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Gettinger's billing</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/billing.css">
</head>
<body>
	<h1>Gettinger Family Custom Meats Billing System</h1>
	<h2>Please select an option<h2>
	<form action="/beefBill" method="route" >
		<input type="submit" value="New Beef Bill" >
	</form>
	<br>
	<form action="/hogBill" method="route">
		<input type="submit" value="New Hog Bill" >
	</form>
	<br>
	<form action="/lambBill" method="route">
		<input type="submit" value="New Lamb Bill"/>
	</form>
	<br>
	<form action="/setPrices" method="route" >
		<input type="submit" value="Set/Change Prices" />
	</form>
</body>
</html>