<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Gettinger's billing</title>
    <meta charset="UTF-8" />
    <!-- calcuator javascript -->
    <script type="text/javascript" src="js/billing.js"></script>
    <link rel="stylesheet" type="text/css" href="css/billing.css">
</head>
<body>
    <h1>Gettinger Family Custom Meats Billing System</h1>
    <h2>Please enter the following information</h2>
    <div style="width: 100%;">
        <div style="width: 50%; float: left; margin-left: 25%">
            <form action="/lambRecipt" method="post">
                <fieldset>
                    <p>Order information</p>
                    <label for="name">Name: ____________________________ </label>
                    <input type="text" id="name" name="name" required><br><br>
                    <label for="phone">Phone number: _____________________</label>
                    <input type="text" id="phone" name="phone" required><br><br>
                    <label for="ticket">Ticket number:______________________ </label>
                    <input type="text" id="ticket" name="ticket" required><br><br>
                    <label for="date">Date: ______________________________ </label>
                    <input type="text" id="date" name="date" required><br><br>
                    <label for="orderAmount">Amount brought in (DECIMAL ONLY): ____</label>
                    <input type="text" id="orderAmount" name="orderAmount" required><br><br>
                    <p>Weights</p>
                    <p>Live weight only for purchased lamb</p><br>
                    <label for="liveWeight">Live Weight: _______________________ </label>
                    <input type="number" step=".01" required id="liveWeight" name="liveWeight" min="0"><br><br>
                    <label for="hangingWeight">Hanging weight: ____________________</label>
                    <input type="number" id="hangingWeight" name="hangingWeight" min="0" required><br><br>
                    <label for="cubeWeight">Cube weight: _______________________</label>
                    <input type="number" id="cubeWeight" name="cubeWeight" min="0" required><br><br>
                    <label for="pattyWeight">Patty weight: _______________________ </label>
                    <input type="number" id="pattyWeight" name="pattyWeight" min="0" required><br><br>
                    <label for="stewWeight">Stew weight: _______________________ </label>
                    <input type="number" id="stewWeight" name="stewWeight" min="0" required><br><br>
                    <label for="boningWeight">Boning weight: ______________________</label>
                    <input type="number" id="boningWeight" name="boningWeight" min="0"required ><br><br>
                    <label for="deposit">Deposit Amount: _____________________</label>
                    <input type="number" id="deposit" step=".01" name="deposit" min="0" required><br><br>
                    <button type="submit">Calculate Bill</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>