<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Gettinger's billing</title>
    <meta charset="UTF-8" />
    <!-- calcuator javascript -->
    <script type="text/javascript" src="js/billing.js"></script>
    <link rel="stylesheet" type="text/css" href="css/billing.css">
</head>
<body>
    <h1>Gettinger Family Custom Meats Billing System</h1>
    <h2>Please enter the following information</h2>
    <div style="width: 100%;">
        <div style="width: 30%; float: left; margin-left: 28%">
            <form action="/lambRecipt" method="post">
                <fieldset>
                    <p>Order information</p>
                    <label for="name">Name: ___________ </label>
                    <input type="text" id="name" name="name" required><br><br>
                    <label for="phone">Phone number: ____</label>
                    <input type="text" id="phone" name="phone" required><br><br>
                    <label for="ticket">Ticket number:_____ </label>
                    <input type="text" id="ticket" name="ticket" required><br><br>
                    <label for="date">Date: ____________ </label>
                    <input type="text" id="date" name="date" required><br><br>
                    <label for="orderAmount">Amount brought in: _</label>
                    <input type="text" id="orderAmount" name="orderAmount" required><br><br>
                    <p>Weights</p>
                    <p>ONLY INCLUDE LIVE WEIGHT FOR PURCHASED LAMB</p><br>
                    <label for="liveWeight">Live Weight: _______ </label>
                    <input type="number" required id="liveWeight" name="liveWeight" min="0"><br><br>
                    <label for="hangingWeight">Hanging weight: ____</label>
                    <input type="number" id="hangingWeight" name="hangingWeight" min="0" required><br><br>
                    <label for="cubeWeight">Cube weight: _______</label>
                    <input type="number" id="cubeWeight" name="cubeWeight" min="0" required><br><br>
                    <label for="pattyWeight">Patty weight: _______ </label>
                    <input type="number" id="pattyWeight" name="pattyWeight" min="0" required><br><br>
                    <label for="stewWeight">Stew weight: _______ </label>
                    <input type="number" id="stewWeight" name="stewWeight" min="0" required><br><br>
                    <label for="boningWeight">Boning weight: _____</label>
                    <input type="number" id="boningWeight" name="boningWeight" min="0"required ><br><br>
                    <button type="submit">Calculate Bill</button>
                </fieldset>
            </form>
        </div>
        <div style="margin-left: 65%">
            <table border="1"> 
                <tr> 
                   <td colspan="3"><input type="text" id="result"/></td> 
                   <!-- clr() function will call clr to clear all value -->
                   <td><input type="button" value="c" onclick="clr()"/> </td> 
                </tr> 
                <tr> 
                   <!-- create button and assign value to each button -->
                   <!-- dis("1") will call function dis to display value -->
                   <td><input type="button" value="1" onclick="dis('1')"/> </td> 
                   <td><input type="button" value="2" onclick="dis('2')"/> </td> 
                   <td><input type="button" value="3" onclick="dis('3')"/> </td> 
                   <td><input type="button" value="/" onclick="dis('/')"/> </td> 
                </tr> 
                <tr> 
                   <td><input type="button" value="4" onclick="dis('4')"/> </td> 
                   <td><input type="button" value="5" onclick="dis('5')"/> </td> 
                   <td><input type="button" value="6" onclick="dis('6')"/> </td> 
                   <td><input type="button" value="-" onclick="dis('-')"/> </td> 
                </tr> 
                <tr> 
                   <td><input type="button" value="7" onclick="dis('7')"/> </td> 
                   <td><input type="button" value="8" onclick="dis('8')"/> </td> 
                   <td><input type="button" value="9" onclick="dis('9')"/> </td> 
                   <td><input type="button" value="+" onclick="dis('+')"/> </td> 
                </tr> 
                <tr> 
                   <td><input type="button" value="." onclick="dis('.')"/> </td> 
                   <td><input type="button" value="0" onclick="dis('0')"/> </td> 
                   <!-- solve function call function solve to evaluate value -->
                   <td><input type="button" value="=" onclick="solve()"/> </td> 
                   <td><input type="button" value="*" onclick="dis('*')"/> </td> 
                </tr> 
             </table> 
        </div>
    </div>
</body>
</html>