<%
import csv
from bottle import request

#get prices for beef
kill=request.forms.get('kill')
live=request.forms.get('live')
hanging=request.forms.get('hanging')
cube=request.forms.get('cube')
patty=request.forms.get('patty')
stew=request.forms.get('stew')
boning=request.forms.get('boning')
waste=request.forms.get('waste')

#organize values to be written in csv
rows=[ ['killCharge',kill],
       ['liveCharge',live],
       ['hangingCharge',hanging],
       ['cubeCharge',cube],
       ['pattyCharge',patty],
       ['stewCharge', stew],
       ['boningCharge',boning],
       ['wasteCharge',waste]
    ]

#get prices for Hog
killh=request.forms.get('killh')
liveh=request.forms.get('liveh')
hangingh=request.forms.get('hangingh')
cubeh=request.forms.get('cubeh')
pattyh=request.forms.get('pattyh')
cure=request.forms.get('cure')
links=request.forms.get('links')
boningh=request.forms.get('boningh')
wasteh=request.forms.get('wasteh')

#organize to be written to csvfile
rowsh=[ ['killCharge',killh],
        ['liveCharge',liveh],
        ['hangingCharge',hangingh],
        ['cubeCharge',cubeh],
        ['pattyCharge',pattyh],
        ['cureCharge',cure],
        ['linksCharge',links],
        ['boningCharge',boningh],
        ['wasteCharge',wasteh]
     ]


#get prices for Lamb

killl=request.forms.get('killl')
livel=request.forms.get('livel')
hangingl=request.forms.get('hangingl')
cubel=request.forms.get('cubel')
pattyl=request.forms.get('pattyl')
stewl=request.forms.get('stewl')
boningl=request.forms.get('boningl')
wastel=request.forms.get('wastel')

#organize values to be written in csv
rowsl=[ ['killCharge',killl],
       ['liveCharge',livel],
       ['hangingCharge',hangingl],
       ['cubeCharge',cubel],
       ['pattyCharge',pattyl],
       ['stewCharge', stewl],
       ['boningCharge',boningl],
       ['wasteCharge',wastel]
    ]


#change values in csv
with open('pricesBeef.csv', 'w', newline='') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerows(rows)

with open('pricesHog.csv', 'w', newline='') as csvfileh:
    writerh=csv.writer(csvfileh)
    writerh.writerows(rowsh)

with open('pricesLamb.csv', 'w', newline='') as csvfilel:
    writerl=csv.writer(csvfilel)
    writerl.writerows(rowsl)
%>
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Gettinger's billing</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/billing.css">

</head>
<body>
    <h1>Gettinger Family Custom Meats Billing System</h1>
    <h2>Showing new Prices</h2>
    <div style="width: 33%; float: left;">
        <h3>Beef Prices</h3>
        <p>New kill cost: {{'{0:.2f}'.format(float(kill))}}</p>
        <p>New live weight cost: {{'{0:.2f}'.format(float(live))}}</p>
        <p>New processing cost (per lb): {{'{0:.2f}'.format(float(hanging))}}</p>
        <p>New cubing cost (per lb): {{'{0:.2f}'.format(float(cube))}}</p>
        <p>New patty cost (per lb): {{'{0:.2f}'.format(float(patty))}}</p>
        <p>New stew cost (per lb): {{'{0:.2f}'.format(float(stew))}}</p>
        <p>New boning cost (per lb): {{'{0:.2f}'.format(float(boning))}}</p>
        <p>New waste cost (per lb): {{'{0:.2f}'.format(float(waste))}}</p>
    </div>
    <div style="width: 33%; float: right;">
        <h3>Lamb Prices</h3>
        <p>New kill cost: {{'{0:.2f}'.format(float(killl))}}</p>
        <p>New live weight cost: {{'{0:.2f}'.format(float(livel))}}</p>
        <p>New processing cost (per lb): {{'{0:.2f}'.format(float(hangingl))}}</p>
        <p>New cubing cost (per lb): {{'{0:.2f}'.format(float(cubel))}}</p>
        <p>New patty cost (per lb): {{'{0:.2f}'.format(float(pattyl))}}</p>
        <p>New stew cost (per lb): {{'{0:.2f}'.format(float(stewl))}}</p>
        <p>New boning cost (per lb): {{'{0:.2f}'.format(float(boningl))}}</p>
        <p>New waste cost (per lb): {{'{0:.2f}'.format(float(wastel))}}</p>
    </div>
    <div style="width: 33%;  margin-left: 33%;">
        <h3>Hog Prices</h3>
        <p>New kill cost: {{'{0:.2f}'.format(float(killh))}}</p>
        <p>New live weight cost: {{'{0:.2f}'.format(float(liveh))}}</p>
        <p>New processing cost (per lb): {{'{0:.2f}'.format(float(hangingh))}}</p>
        <p>New cubing cost (per lb): {{'{0:.2f}'.format(float(cubeh))}}</p>
        <p>New patty cost (per lb): {{'{0:.2f}'.format(float(pattyh))}}</p>
        <p>New cure cost (per lb): {{'{0:.2f}'.format(float(cure))}}</p>
        <p>New links cost (per lb): {{'{0:.2f}'.format(float(links))}}</p>
        <p>New boning cost (per lb): {{'{0:.2f}'.format(float(boningh))}}</p>
        <p>New wasteh cost (per lb): {{'{0:.2f}'.format(float(wasteh))}}</p>
    </div>
    <form action="/setPrices" method="route" >
		<input type="submit" value="To go back and undo changes" >
    </form>
    <br>
    <form action="/" method="route" >
		<input type="submit" value="Return Home" >
	</form>