<%

#get beef prices
file=open("pricesBeef.csv","r")
charges=[]
prices=[]
for line in file:
    currentline=line.split(",")
    (charge,cost)=currentline
    charges.append(charge)
    cost=float(cost)
    prices.append(cost)
    end
file.close()

#Order of prices killcharge,hangingweight,cube,patties,stewmeat,boning
killCost=prices[0]
liveCost=prices[1]
hangingCost=prices[2]
cubeCost=prices[3]
pattiesCost=prices[4]
stewCost=prices[5]
boningCost=prices[6]

#get hog prices
file=open("pricesHog.csv","r")
chargesh=[]
pricesh=[]
for line in file:
    currentline=line.split(",")
    (charge,cost)=currentline
    chargesh.append(charge)
    cost=float(cost)
    pricesh.append(cost)
    end
file.close()

#Order of prices killcharge,hangingweight,cube,patties,stewmeat,boning
killCosth=pricesh[0]
liveCosth=pricesh[1]
hangingCosth=pricesh[2]
cubeCosth=pricesh[3]
pattiesCosth=pricesh[4]
cureCost=pricesh[5]
linkCost=pricesh[6]
boningCosth=pricesh[7]

#get the lamb prices
file=open("pricesLamb.csv","r")
chargesl=[]
pricesl=[]
for line in file:
    currentline=line.split(",")
    (charge,cost)=currentline
    chargesl.append(charge)
    cost=float(cost)
    pricesl.append(cost)
    end
file.close()

#Order of prices killcharge,hangingweight,cube,patties,stewmeat,boning
killCostl=pricesl[0]
liveCostl=pricesl[1]
hangingCostl=pricesl[2]
cubeCostl=pricesl[3]
pattiesCostl=pricesl[4]
stewCostl=pricesl[5]
boningCostl=pricesl[6]

%>
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Gettinger's billing</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/billing.css">
</head>
<body>
    <h1>Gettinger Family Custom Meats Billing System</h1>
	<h2>Please enter the new prices</h2>
    <h3>Enter price shown if no changes</h3>
    <form action="/priceChange" method="post">
        <fieldset>
            <div style="width: 33%; float: left;">
                <p>Beef Prices</p>
                <label for="kill">Kill charge: ${{'{0:.2f}'.format(float(killCost))}} --- New cost:    </label>
                <input type="text" id="kill" name="kill" value="{{'{0:.2f}'.format(float(killCost))}}">
                <br><br>
                <label for="live">Purchase cost: ${{'{0:.2f}'.format(float(liveCost))}} --- New cost: </label>
                <input type="text" id="live" name="live" value="{{'{0:.2f}'.format(float(liveCost))}}">
                <br><br>
                <label for="hanging">Processing cost: ${{'{0:.2f}'.format(float(hangingCost))}} --- New cost: </label>
                <input type="text" id="hanging" name="hanging" value="{{'{0:.2f}'.format(float(hangingCost))}}">
                <br><br>
                <label for="cube">Cubing cost: ${{'{0:.2f}'.format(float(cubeCost))}} --- New cost: </label>
                <input type="text" id="cube" name="cube" value="{{'{0:.2f}'.format(float(cubeCost))}}">
                <br><br>
                <label for="patty">Patty cost: ${{'{0:.2f}'.format(float(pattiesCost))}} --- New cost:</label>
                <input type="text" id="patty" name="patty" value="{{'{0:.2f}'.format(float(pattiesCost))}}">
                <br><br>
                <label for="stew">Stew cost: ${{'{0:.2f}'.format(float(stewCost))}} --- New cost:</label>
                <input type="text" id="stew" name="stew" value="{{'{0:.2f}'.format(float(stewCost))}}">
                <br><br>
                <label for="boning">Boning cost: ${{'{0:.2f}'.format(float(boningCost))}} --- New cost:</label>
                <input type="text" id="boning" name="boning" value="{{'{0:.2f}'.format(float(boningCost))}}">
            </div>
            <div style="width: 33%; float: right;">
                <p>Lamb Prices</p>
                <label for="killl">Kill charge: ${{'{0:.2f}'.format(float(killCostl))}} --- New cost:   </label>
                <input type="text" id="killl" name="killl" value="{{'{0:.2f}'.format(float(killCostl))}}">
                <br><br>
                <label for="livel">Purchase cost: ${{'{0:.2f}'.format(float(liveCostl))}} --- New cost: </label>
                <input type="text" id="livel" name="livel" value="{{'{0:.2f}'.format(float(liveCostl))}}">
                <br><br>
                <label for="hangingl">Processing cost: ${{'{0:.2f}'.format(float(hangingCostl))}} --- New cost: </label>
                <input type="text" id="hangingl" name="hangingl" value="{{'{0:.2f}'.format(float(hangingCostl))}}">
                <br><br>
                <label for="cubel">Cubing cost: ${{'{0:.2f}'.format(float(cubeCostl))}} --- New cost: </label>
                <input type="text" id="cubel" name="cubel" value="{{'{0:.2f}'.format(float(cubeCostl))}}">
                <br><br>
                <label for="pattyl">Patty cost: ${{'{0:.2f}'.format(float(pattiesCostl))}} --- New cost:</label>
                <input type="text" id="pattyl" name="pattyl" value="{{'{0:.2f}'.format(float(pattiesCostl))}}">
                <br><br>
                <label for="stewl">Stew cost: ${{'{0:.2f}'.format(float(stewCostl))}} --- New cost:</label>
                <input type="text" id="stewl" name="stewl" value="{{'{0:.2f}'.format(float(stewCostl))}}">
                <br><br>
                <label for="boningl">Boning cost: ${{'{0:.2f}'.format(float(boningCostl))}} --- New cost:</label>
                <input type="text" id="boningl" name="boningl" value="{{'{0:.2f}'.format(float(boningCostl))}}">
            </div>
            <div style="width: 33%;  margin-left: 33%;">
                <p>Hog Prices</p>
                <label for="killh">Kill charge: ${{'{0:.2f}'.format(float(killCosth))}} --- New cost:   </label>
                <input type="text" id="killh" name="killh" value="{{'{0:.2f}'.format(float(killCosth))}}">
                <br><br>
                <label for="liveh">Purchase cost: ${{'{0:.2f}'.format(float(liveCosth))}} --- New cost: </label>
                <input type="text" id="liveh" name="liveh" value="{{'{0:.2f}'.format(float(liveCosth))}}">
                <br><br>
                <label for="hangingh">Processing cost: ${{'{0:.2f}'.format(float(hangingCosth))}} --- New cost: </label>
                <input type="text" id="hangingh" name="hangingh" value="{{'{0:.2f}'.format(float(hangingCosth))}}">
                <br><br>
                <label for="cubeh">Cubing cost: ${{'{0:.2f}'.format(float(cubeCosth))}} --- New cost: </label>
                <input type="text" id="cubeh" name="cubeh" value="{{'{0:.2f}'.format(float(cubeCosth))}}">
                <br><br>
                <label for="pattyh">Patty cost: ${{'{0:.2f}'.format(float(pattiesCosth))}} --- New cost:</label>
                <input type="text" id="pattyh" name="pattyh" value="{{'{0:.2f}'.format(float(pattiesCosth))}}">
                <br><br>
                <label for="cure">Cure cost: ${{'{0:.2f}'.format(float(cureCost))}} --- New cost:</label>
                <input type="text" id="cure" name="cure" value="{{'{0:.2f}'.format(float(cureCost))}}">
                <br><br>
                <label for="links">Links cost: ${{'{0:.2f}'.format(float(linkCost))}} --- New cost:</label>
                <input type="text" id="links" name="links" value="{{'{0:.2f}'.format(float(linkCost))}}">
                <br><br>
                <label for="boningh">Boning cost: ${{'{0:.2f}'.format(float(boningCosth))}} --- New cost:</label>
                <input type="text" id="boningh" name="boningh" value="{{'{0:.2f}'.format(float(boningCosth))}}">
            </div>
            <br>
            <button type="submit">Change Prices</button>
        </fieldset>
    </form>
</body>        
</html>