<%
file=open("pricesBeef.csv","r")
charges=[]
prices=[]
for line in file:
    currentline=line.split(",")
    (charge,cost)=currentline
    charges.append(charge)
    cost=float(cost)
    prices.append(cost)
    end

#Order of prices killcharge,hangingweight,cube,patties,stewmeat,boning
killCost=prices[0]
liveCost=prices[1]
hangingCost=prices[2]
cubeCost=prices[3]
pattiesCost=prices[4]
stewCost=prices[5]
boningCost=prices[6]

%>
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Gettinger's billing</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/billing.css">
</head>
<body>
    <h1>Gettinger Family Custom Meats Billing System</h1>
	<h2>Please enter the new prices</h2>
    <h3>Enter price shown if no changes</h3>
    <form action="/priceChange" method="post">
        <fieldset>
            <div style="width: 33%; float: left;">
                <p>Beef Prices</p>
                <label for="kill">Kill charge: ${{killCost}} --- New cost:    </label>
                <input type="text" id="kill" name="kill" value="{{killCost}}">
                <br><br>
                <label for="live">Purchase cost: ${{liveCost}} --- New cost: </label>
                <input type="text" id="live" name="live" value="{{liveCost}}">
                <br><br>
                <label for="hanging">Processing cost: ${{hangingCost}} --- New cost: </label>
                <input type="text" id="hanging" name="hanging" value="{{hangingCost}}">
                <br><br>
                <label for="cube">Cubing cost: ${{cubeCost}} --- New cost: </label>
                <input type="text" id="cube" name="cube" value="{{cubeCost}}">
                <br><br>
                <label for="patty">Patty cost: ${{pattiesCost}} --- New cost:</label>
                <input type="text" id="patty" name="patty" value="{{pattiesCost}}">
                <br><br>
                <label for="stew">Stew cost: ${{stewCost}} --- New cost:</label>
                <input type="text" id="stew" name="stew" value="{{stewCost}}">
                <br><br>
                <label for="boning">Boning cost: ${{boningCost}} --- New cost:</label>
                <input type="text" id="boning" name="boning" value="{{boningCost}}">
            </div>
            <div style="width: 33%; float: right;">
                <p>Lamb Prices</p>
                <label for="killl">Kill charge: --- New cost:   </label>
                <input type="text" id="killl" name="killl" vaule="0">
                <br><br>
                <label for="livel">Purchase cost: ${{liveCost}} --- New cost: </label>
                <input type="text" id="livel" name="livel" value="{{liveCost}}">
                <br><br>
                <label for="stewl">Stew cost: ${{stewCost}} --- New cost:</label>
                <input type="text" id="stewl" name="stewl" value="{{stewCost}}">
                <br><br>
                <label for="boningl">Boning cost: ${{boningCost}} --- New cost:</label>
                <input type="text" id="boningl" name="boningl" value="{{boningCost}}">
            </div>
            <div style="width: 33%;  margin-left: 33%;">
                <p>Hog Prices</p>
                <label for="killh">Kill charge: --- New cost:   </label>
                <input type="text" id="killh" name="killh" vaule="0">
                <br><br>
                <label for="live">Purchase cost: ${{liveCost}} --- New cost: </label>
                <input type="text" id="live" name="live" value="{{liveCost}}">
                <br><br>
                <label for="hanging">Processing cost: ${{hangingCost}} --- New cost: </label>
                <input type="text" id="hanging" name="hanging" value="{{hangingCost}}">
                <br><br>
                <label for="cube">Cubing cost: ${{cubeCost}} --- New cost: </label>
                <input type="text" id="cube" name="cube" value="{{cubeCost}}">
                <br><br>
                <label for="patty">Patty cost: ${{pattiesCost}} --- New cost:</label>
                <input type="text" id="patty" name="patty" value="{{pattiesCost}}">
                <br><br>
                <label for="cure">Stew cost: ${{stewCost}} --- New cost:</label>
                <input type="text" id="cure" name="cure" value="{{stewCost}}">
                <br><br>
                <label for="links">Links cost: ${{stewCost}} --- New cost:</label>
                <input type="text" id="links" name="links" value="{{stewCost}}">
                <br><br>
                <label for="boning">Boning cost: ${{boningCost}} --- New cost:</label>
                <input type="text" id="boning" name="boning" value="{{boningCost}}">
            </div>
            <br>
            <button type="submit">Change Prices</button>
        </fieldset>
    </form>
</body>        
