.left {
    float: left;
    clear:both;
    padding-left: 100px;
}

.right {
    float:left;
}

p {
    font-size: 18px;
    width: 300px;
    font-family: Arial, sans-serif;
    line-height: 7px;
}

input[type="button"]
{
    background-color: blue;
    color: yellow;
    border: solid black 2px;
    width: 100%;
    display: inline-block;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: center;
    color: white;

}

h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;

}


button {
    background-color: #fce303;
    border-radius: 16px;
    font-size: 30px;
    display: inline-block;
}

input[type="submit"] {
    background-color: #fce303;
    border-radius: 16px;
    font-size: 30px;

}

.rh1 {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 36px;
    padding-left: 50px;
    color: white;

}

.rh2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: left;
    padding-left: 50px;
    color: white;

}

.rh3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 237px;
    color: white;
}

label {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

body {
    background-color: darkred;
}

@media print {
    #button1, #button2 {
        display: none;
    }
}